.bounce-enter {
  transform: scale(0);
}

.bounce-enter-active {
  transform: scale(1);
  transition: transform 200ms ease-in-out;
}

.bounce-exit {
  transform: scale(1);
}

.bounce-exit-active {
  transform: scale(0);
  transition: transform 200ms ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
